nav {
    background-color: white;
    height: 12vh;
    padding-left: 20px;
}

img {
    height: 9vh;
}

body {
    margin: 0px;
}

.title-part {
    font-size: 11vh;
    padding: 0px 0.3em;
    font-family: monospace;
    font-weight: bold;
}

#content {
    background-color: #0277BD;
    height: 83vh;
    width: 100%;
    display: flex;
}

footer {
    background-color: white;
    height: 4vh;
    font-family: sans-serif;
    padding: 5px 0 0 20px;
}

.main-col {
    height: 100%;
    
}

#translator-col {
    width: 18%;
}

#translator-col>div{
    padding-top: 100%;
}

.side-col {
    width: 40%;
    padding: 1%;
}

textarea {
    width: 99%;
    height: 95%;
}

button{
    width: 100%;
    border: 0px;
    padding: 12px 0px;
    margin: 2px 0px;
}

#app-version{
    float: right;
    padding-right: 20px;
}